ion-header {
    --background: #f5fffa;
    ion-toolbar {
      --background: #f5fffa;
      ion-buttons {
        --background: #f5fffa;
        ion-back-button {
          color: black;
        }
      }
      ion-title {
        text-align: center;
        font-size: medium;
        --background: #f5fffa;
      }
    }
    ion-avatar {
      --background: #f5fffa;
    }
  }
  
  .avatar {
    height: 150px;
    width: 150px;
    margin: auto;
    --background: #f5fffa;
  }
  
  #photo {
    display: flex;
    margin-top: 20px;
    height: 150;
    width: 100%;
    background-color: #f5fffa;
  }
  
  ion-content {
    --background: #f5fffa;
    ion-card {
      background-color: #e4f0fc;
      color: black;
      font-size: medium;
      font-weight: bold;
      h1 {
        text-align: center;
        font-weight: bold;
        font-size: large;
        background-color: #e4f0fc;
      }
    }
  }
  
  .title-card {
    justify-content: flex-start;
    font-weight: bold;
    font-size: medium;
    color: black;
  }
  
  .content {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: #e4f0fc;
    height: 100%;
  }
  
  #spinner {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    color: black;
  }
  
  h6 {
    color: black;
    padding-top: 4px;
    padding-left: 4px;
  }
  
  .arrow {
    margin-right: 10px;
    float: right;
    width: 20px;
    height: 20px;
  }
  
  .cont-card {
    text-align: end;
    font-size: medium;
  }