<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="navigate()"></ion-back-button>
      </ion-buttons>
      <ion-title>{{userDetail.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div id="photo" style="background-color: #f5fffa">
      <ion-avatar class="avatar">
        <img [src]="userDetail.avatar" style="background-color: #f5fffa" />
      </ion-avatar>
    </div>
    <ion-card button id="item1" (click)="showInfo()">
      <h1>
        Information
        <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
      </h1>
      <ion-card-content>
        <div class="content" *ngIf="showUserInfo">
          <h6 class="title-card">Username:</h6>
          <h6 class="cont-card">{{userDetail.username}}</h6>
          <h6 class="title-card">Phone:</h6>
          <h6 class="cont-card">{{userDetail.phone}}</h6>
          <h6 class="title-card">Email:</h6>
          <h6 class="cont-card">{{userDetail.email}}</h6>
          <h6 class="title-card">Website:</h6>
          <h6 class="cont-card">{{userDetail.website}}</h6>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card id="item2" button (click)="showAddress()">
      <div>
        <h1>
          Address <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
        </h1>
      </div>
      <ion-card-content>
        <div class="content" *ngIf="showUserAddress">
          <h6 class="title-card">Street:</h6>
          <h6 class="cont-card">{{userDetail.address.street}}</h6>
          <h6 class="title-card">Suite:</h6>
          <h6 class="cont-card">{{userDetail.address.suite}}</h6>
          <h6 class="title-card">City:</h6>
          <h6 class="cont-card">{{userDetail.address.city}}</h6>
          <h6 class="title-card">Zip Code:</h6>
          <h6 class="cont-card">{{userDetail.address.zipcode}}</h6>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card button (click)="showCompany()">
      <h1>
        Company <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
      </h1>
      <ion-card-content>
        <div class="content" *ngIf="showUserCompany">
          <h6 class="title-card">Company:</h6>
          <h6 class="cont-card">{{userDetail.company.name}}</h6>
          <h6 class="title-card">Phrase:</h6>
          <h6 class="cont-card">{{userDetail.company.catchPhrase}}</h6>
          <h6 class="title-card">Bs:</h6>
          <h6 class="cont-card">{{userDetail.company.bs}}</h6>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>