ion-header {
    --background: #f5fffa;
    ion-toolbar {
      --background: #f5fffa;
      ion-title {
        text-align: center;
        font-size: medium;
        --background: #f5fffa;
      }
    }
  }
  
  ion-content {
    --background: #f5fffa;
    ion-list {
      --background: #f5fffa;
      ion-item {
        --background: #f5fffa;
        ion-label {
          color: black;
          --background: #f5fffa;
        }
        ion-avatar {
          --background: #f5fffa;
        }
      }
    }
  }
  #spinner {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    color: black;
  }
  
  .error {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: lightsalmon;
    position: absolute;
    color: red;
    border: 2px solid red;
  }
  .center {
    text-align: center;
  }
  
  #message {
    text-align: center;
    margin-top: 50%;
  }